/* Give your page a fun background color */
 body{background-color:rgb(34, 214, 227);}
/* Make the header and footer a different color from the background */
header{background-color: lightgray;}
footer{background-color: lightgray;}
/* Align the h1 containing your name in the center of the header*/
#leah-center {text-align: center;}
/* Make your p tag a different color and italic */
.quote {color: blue; font-style:italic;}
/* Put a border around your image */
.photo {border:10px solid;margin:10px 10px 20px 20px;}
/* Change the font-family of your list */
.text-change{font-family: "Monaco";}
